.program {
	background-color: $white;
	border: 1px solid #dee2e6;
	border-bottom: 0;
	//min-height: 100px;
	padding: 5px;
	text-align: left;
	transition: transform;
	transition-duration: 0.25s;

	&:hover {
		border-bottom: 1px;
		box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,.1);
		transform: scale(1.02);
	}

	&:last-child {
		border-bottom: 1px solid #dee2e6;
	}

	&.past {
		border: 0;
		height: 0;
		opacity: 0;
		min-height: 0;
		padding: 0;
		transition: all 0.25s;
		visibility: hidden;

		* {
			color: $gray-400;
		}

		&.show {
			background-color: $gray-100;
			border: 1px solid #dee2e6;
			border-bottom: 0;
			height: auto;
			opacity: 1;
			padding: 5px;
			transition: all 0.25s;
			visibility: visible;
		}
	}

	&.live {
		background-color: #f0f0f0;
	}

	&__time {
		color: $primary;
		font-weight: bold;
	}

	&__title {
		font-size: 16px;
	}

	&__description {
		color: $dark;
		font-size: 12px;
	}

	.progress {
		background-color: $white;
		border: 1px solid #dee2e6;
		border-radius: 0;

		&bar {
			border-radius: 0;
		}
	}

	&List {
		margin-bottom: 16px;

		&__title {
			background-color: $primary;
			color: $white;
			font-size: 18px;
			margin: 0;
			padding: 10px 0;
		}
	}
}